--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-multipart
pandas
numpy
torch
torchaudio
transformers
scipy
librosa
soundfile
speechbrain
matplotlib
jinja2
python-dateutil
reportlab
scikit-learn